
@{
    ViewData["Title"] = "Index";
}

<h2>Administrador</h2>

<p>
    <a asp-action="CreateFuncionario" class="btn btn-default">Cadastrar Funcionario</a>
<p>

<p>
    <a asp-action="CreateRestaurante" class="btn btn-default">Cadastrar Restaurante</a>
<p>

<p>
    <a asp-action="FindFuncionarios" class="btn btn-default">Listar Funcionarios</a>
<p>
<p>
    <a asp-action="FindRestaurantes" class="btn btn-default">Listar Restaurantes</a>
<p>